<!DOCTYPE html>
    <html lang "EN">
    
    
    <head>
    <meta charset ="UTF-8"/>
    <title>Your Fitness</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <script src="express.js"></script>
    </head>


    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                    <a class="navbar-brand" href="http://localhost:9999/">Healthy-Life</a>
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" href="http://localhost:9999/user/diet">Diet</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="http://localhost:9999/user/fitness">Fitness</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="MentalHealth.html">Mental Health</a>
                        </li>
                    </ul>
            </div>
        </nav>
        <main>

                <h1 class="heading text-center mb-5">Your Fitness</h1>


            <div class="row justify-content-center" >
                    <div class="col-4">
                            <h3 class="heading text-center">Your Summary</h3>
                            <ul class="list-group justify-content-center" style="list-style:none;">
                                <li class="list-group-item d-flex justify-content-between align-items-center">Steps: <span> <%=steps%> </span></li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">Calories Burned: <span> <%=calories%></span></li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">Active Minutes<span> <%=exercise%> </span></li>        
                            </ul>
                    </div>
    
                            
                        
                    <div class="col-4">
                            <h3 class="title text-center">Log Your Diet</h3>
                            <form action="http://localhost:9999/user/fitness/submitFitnessData" method="POST">
                            <label for="stepCount" class="form-label">Step Count</label>
                            <input type="number" class="form-control" id="stepCount" name="stepCount" placeholder="5000">
                                  
                            <label for="calBurned" class="form-label">Calories Burned </label>
                            <input type="number" class="form-control" id="calBurned" name="calBurned" placeholder="300">

                            <label for="exercise" class="form-label">Active Minutes</label>
                            <input type="number" class="form-control" id="exercise" name="exercise" placeholder="2">
                                  
                                <input class="btn btn-info" role="button" type="submit"> 
                            </form>
                    </div>
            </div>
            <div class="row">
                <h3>Your Content</h3>

            </div>




    </main>
    </body>

</html>